.nav-item-custom a {
  padding: 15px;
}
.nav-item-custom a:hover {
  background-color: rgba(10, 88, 202, 0.15);
  color: rgb(10, 88, 202) !important;
}

.nav-item-custom.active a {
  background-color: rgba(10, 88, 202, 0.15);
  color: rgb(10, 88, 202) !important;
}

