<nav class="navbar navbar-pills bg-light" style="height: 80px;">
  <app-header class=""></app-header>
  <ul class="navbar-nav d-flex flex-row justify-content-end">
    <li class="nav-item nav-item-custom">
      <a class="nav-link text-dark" routerLink="camera" routerLinkActive="active">Caméra</a>
    </li>
    <li class="nav-item nav-item-custom">
      <a class="nav-link text-dark" routerLink="users" routerLinkActive="active">Utilisateurs</a>
    </li>
    <li class="nav-item nav-item-custom">
      <a class="nav-link text-dark" routerLink="profile" routerLinkActive="active">Mon profil</a>
    </li>
  </ul>
</nav>
